<div class="container">
    <div class="thread-wrapper"
         *ngFor="let message of threadData; let i = index; trackBy: trackByFn"
         [style.z-index]="threadData.length - i"
         [style.transform]="'translate(' + (i * 5) + 'px, ' + (i * 5) + 'px)'"
         (click)="expandThread(message, i)">
        <div class="thread-box card">
            <div class="row">
                <h3 class="subject"
                    [ngStyle]="{'color': message.score >= 6 ? '#9335ff' : '#e89d40'}">{{ message.subject }}</h3>
                <p class="team">{{ message.team }}</p>
                <div *ngIf="message.messages && message.messages.length > 2" class="messages-indicator">
                  {{message.messages.length}} messages
                </div>
            </div>

            <div class="row">
                <p class="question">{{ message.question }}</p>
                <p class="created-at">{{ message.created_at }}</p>
            </div>

            <h4 class="text-entry">{{ message.text }}</h4>
            
            <div *ngIf="totalMessages > 2" class="total-messages" 
                [ngStyle]="{'background-color': totalMessages > 6 ? '#21aae1' : '#e89d40'}">
                {{totalMessages}} messages
           </div>
        </div>
    </div>
</div>
